---
import Layout from '../layouts/Layout.astro';
---

<Layout>	
	<h1>Thank you from the Menopause @ Work team </h1>
	<p>The Menopause @ Work pilot programme is now closed.</p>   
	<p>We would like to extend our sincere thanks to everyone who has been involved. Whether you participated in one of our online courses or in-person workshops over the past three years, we deeply appreciate your engagement and support. For ongoing local support for those experiencing menopause symptoms at work, or for those supporting colleagues, please contact Brighton & Hove City Council's Healthy Lifestyles Team:</p>
	<p>Email: healthylifestyles@brighton-hove.gov.uk </p>
	<p>Website:  https://www.brighton-hove.gov.uk/directory-entry/healthy-lifestyles-team</p>
	<p>For national advice and additional information, visit the following resources:</p>
	<ul>
		<li><a href="https://www.menopausematters.co.uk/" target="_blank">Menopause Matters - menopausal symptoms, remedies, advice</a></li>
		<li><a href="https://www.menopause-exchange.co.uk/" target="_blank">The Menopause Exchange</a></li>
	</ul>
	<p>If you have attended one of our events, or engaged in our training, your personal data will be removed in accordance with our <a href="/privacy-policy">privacy policy</a>.</p>
	<p>Please note that the info@menopauseatwork.co.uk email address is no longer active or monitored. 
		For any further inquiries about the closed programme, please visit and contact us via the Here website: <a href="https://hereweare.org.uk/" target="_blank">Healthcare Delivery & Innovations - Here</a></p>
</Layout>
