---
const { percentage, text } = Astro.props;
---

<div class="bg-[#289DD2] text-white rounded-full size-64 text-center flex flex-col items-center justify-center">
    <div class="grid grid-cols-1 text-center h-3/4 px-9" style="grid-template-rows: .75fr 1.4fr;;">
        <h2 class="text-5xl font-bold">{`${percentage}%`}</h2>
        <p class=" text-white m-0">{text}</p>
    </div>
</div>