---
import menopauseAtWork from "../assets/menopauseatwork.svg";
import background from "../assets/background-blue.svg";
import "../styles/global.css";
import Container from "../components/Container.astro";
import Section from "../components/Section.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Menopause@Work</title>
  </head>
  <body class="text-[#4b5563] text-lg margin-0 selection:text-white selection:bg-[#41C1BA]">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
	<header class="lg:container mx-auto px-4 py-4">
		<nav class="pb-8 sm:pb-10 w-full">
		  <div class="flex flex-col gap-4 sm:flex-row w-full justify-between items-center">
			<a 
				href="/"
				class="w-52"

			><img
				src={menopauseAtWork.src}
				alt="Homepage"
				class="w-full"
			  /></a
			>
			<div class="links">
			  <a href="/">Home</a>
			  <a href="/privacy-policy">Privacy Policy</a>
			</div>
		  </div>
		</nav>
	</header>
    <main class="flex flex-col gap-8 items-start justify-center pb-8">
		<div class="max-w-6xl mx-auto px-4 md:px-0">
			<slot />
		</div>
    </main>
    <footer class="py-8 w-full border-t border-[#e5e7eb]">
		<Container>
			<div class="flex flex-col items-center justify-center w-full">
				<p>&copy; Copyright Menopause at Work 2025</p>
			</div>
		</Container>
    </footer>
  </body>
</html>